body{text-align:center;	font-family: arial,"宋体";text-align:center;	font-size:12px;color:#656565;}
/*头部*/
.head{ width:1094px; height:80px; margin:0px auto;}
.head .logo{ width:490px; height:45px; float:left; margin-top:17px;}
.head .logo img{ width:490px; height:45px; vertical-align:top;}
.head .tel{ width:210px; height:40px; float:right; margin-top:20px;}
.head .tel img{ width:210px; height:40px; vertical-align:top;}
.nav_bg{ width:100%; height:43px; background:#0C96B3; box-shadow:2px 2px 4px #666; position:relative; z-index:9999999;}
.nav_bg .nav_m{ width:1094px; height:45px; margin:0px auto; position:relative;}
.nav_m .nav{ width:830px; height:45px; position:absolute; left:0px; top:0px; text-align:left;}
.nav_m .nav li{ display:inline-block; *display:inline; zoom:1; height:43px; line-height:43px; padding:0px 20px; float:left;}
.nav_m .nav li a{ font-size:14px; font-weight:bold; color:#FFF;}
.nav_m .nav li.line{ width:2px; height:15px; margin-top:15px; border-left:1px solid #FFF; padding:0px;}
.nav_m .nav li.now{ background:#037891;}
.main_bg{ width:100%; min-width:1094px; background-color:#EEF3F1; background-image:url(../images/bg.jpg); background-repeat:no-repeat; background-position: center top;}
.main_bg .main{ width:1094px; margin:0px auto; position:relative; top:-7px; z-index:2; text-align:left; padding-bottom:35px;}

.bq_bg{ width:100%; min-width:1094px; height:30px; background:#777777;}
.bq_bg .bq{ width:1094px; height:30px; line-height:30px; text-align:center; margin:0px auto; font-size:12px; color:#DFDFDF;}

.second{ width:100%;}
.second .scd_tbg{ width:100%; height:110px; border-bottom:7px solid #C9C9C9; min-width:1094px; background:#F6F6F6;}
.second .second_t{ width:1094px; height:110px; margin:0px auto; border-bottom:7px solid #06A5A3; position:relative; z-index:2;}
.second_t .scd_tl{ width:465px; float:left; height:67px; position:relative; margin-top:21px; text-align:left;}
.second_t .scd_tl img{ vertical-align:top;}
.second_t .scd_tl .tip{ width:100%; height:18px; line-height:18px; text-align:left; font-size:12px; color:#555555; position:absolute; left:67px; bottom:-3px;}
.second_t .pst{ width:500px; text-align:right; height:20px; line-height:20px; font-size:12px; color:#2A2A2A; float:right; margin-top:75px;}
.second_t .pst a{color:#2A2A2A;}
.second_t .pst a.now , .second_t .pst a:hover{ color:#0C96B3;}
.second_t .scd_tl .h_fline{ width:250px; height:7px; background:#1485B9; position:absolute; left:0px; bottom:-29px; z-index:9;}
.scd_m{ width:1094px; margin:0px auto;}
.scd_m .scd_ml{ width:250px; padding:25px 0; float:left;}
.scd_ml .sidenav{ width:250px;}
.scd_ml .sidenav li{ width:250px; height:35px; line-height:35px; border-bottom:1px solid #D0D0D0; border-top:1px solid #FDFDFD; text-align:right; overflow:hidden;}
.scd_ml .sidenav li a{ font-size:13px; color:#555555; font-weight:bold; margin-right:40px;}
.scd_xt_m .scd_ml .sidenav li a{ margin-right:13px;}
.scd_ml .sidenav li.now{ border-bottom:0px; background:url(../images/bg_a.png) no-repeat right top; line-height:30px;}
.scd_ml .sidenav li.now a , .scd_ml .sidenav li.now a:hover{ color:#FFF;}
.scd_ml .sidenav li a:hover{ color:#0C96B3;}
.scd_m .scd_mr{ width:795px; float:right; border-top:1px solid #ddd; margin-top:32px; text-align:left; line-height:200%; font-size:13px; color:#555555; padding:15px 0 50px;}
.scd_m .scd_mr h2{ width:100%; font-size:28px; margin-bottom:10px;}
.about h3{margin:20px 0 10px 0;font-size:20px;}